# All "dot directories".
.*/**
!.github/**

# Files associated with CKEditor 5 repository.
**/node_modules
build/
yarn.lock
package-lock.json

# Files associated with specific development environments.
.DS_Store
.idea
.vscode

# Ignore yalc
.yalc
yalc.lock

# Ignore compiled TypeScript files.
packages/*/src/**/*.d.ts
packages/*/src/**/*.js
packages/*/src/**/*.js.map
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
